---
layout: default
---

<article class="posts">
  <h1>{{ page.title }}</h1>

  <div clsss="meta">
    <span class="date">
      {{ page.date | date: "%Y-%m-%d" }}
    </span>

    <ul class="tag">
      {% for tag in page.tags %}
      <li>
        <a href="{{ site.url }}{{ site.baseurl }}/tags#{{ tag }}">
          {{ tag }}
        </a>
      </li>
      {% endfor %}
    </ul>
  </div>

  <div class="entry">
    {{ content }}
  </div>

  {% include disqus.html %}
</article>

<div class="pagination">
  {% if page.previous.url %}
    <span class="prev" >
      <a href="{{ site.url }}{{ site.baseurl }}{{ page.previous.url }}">
        ← 上一篇
      </a>
    </span>
  {% endif %}
  {% if page.next.url %}
    <span class="next" >
      <a href="{{ site.url }}{{ site.baseurl }}{{ page.next.url }}">
        下一篇 →
      </a>
    </span>
  {% endif %}

  <div id="container"></div>
  <link rel="stylesheet" href="../static/gittalk.css">
  <script src="../static/gittalk.min.js"></script>
  <script>
    var gitalk = new Gitalk({
      clientID: 'f5cb8939fcfbeecb8970',
      clientSecret: 'eeef37ac000922c32f28de001075aec2f18cd474',
      repo: 'gitmentCommentsPlugin',
      owner: 'bigwolftime',
      admin: ['bigwolftime'],
      id: location.pathname,      // Ensure uniqueness and length less than 50
      distractionFreeMode: false  // Facebook-like distraction free mode
    })

    gitalk.render('container')
  </script>

</div>